[Desktop Entry]
Exec=/usr/bin/sudo /usr/bin/koompi-os-installer installer
Icon=application-x-executable
Name=KOOMPI OS Installer
Type=Application
X-KDE-AutostartScript=true